<h2>Products</h2>

<div *ngFor="let product of products; index as productId" class="product">
    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/product', productId]">
        {{ product.name }}
      </a>
    </h3>
    {{ product.description }}
    <h3>{{ product.price * 10 }},-</h3>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
--> 